<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCESf_XDge-cGtQWXVGHi_ZoWfShBGUoJc</string>
	<key>GCM_SENDER_ID</key>
	<string>93366333711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maherlawand.GatePrivateGym.dev</string>
	<key>PROJECT_ID</key>
	<string>gateprivategym-951cf</string>
	<key>STORAGE_BUCKET</key>
	<string>gateprivategym-951cf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93366333711:ios:1561398c4b38e599d84e7a</string>
</dict>
</plist>